# Object files
*.o

# Coverage files
*.gcno
*.gcda

# Libraries
*.lib
*.a

# LLVM bitcode
*.bc

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app

# Dependencies
.deps

# Generated subdirectories
/results/
/output_iso/
